div.search-input-container
  input.search-input(placeholder="Start Typing...")
  
  
  
div.search-results-container
  div.category-container
    select.categories
    div.clear-filter
      span.text Clear Filter
  div.sort-results
    span.text Sort By Rating
  div.search-results
